@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@font-face {
    font-family: 'Ubuntu';
    src: url(..//fonts/Ubuntu/Ubuntu-Regular.ttf) format('woff');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(..//fonts/Ubuntu/Ubuntu-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Julius Sans One';
    src: url(..//fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf) format('woff');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

img {
    object-fit: cover;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.heading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}

.card-body, .card-img-overlay {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-family: 'Ubuntu-Bold', sans-serif;
}

