.flex-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    height: 100%;
    margin-bottom: 200px;
}

.flex-item-left {
    padding: 10px;
    flex: 70%;
}

.flex-item-right {
    padding: 10px;
    flex: 20%;
}

@media (max-width: 992px) {
    .flex-item-right {
        display: none;
    }
}

.flex-item-left .card {
    margin: 0 auto;
    width: 95%;
    border: none;
}

.flex-item-left .card:hover h3 {
    color: orangered;
}

.flex-item-left .card:hover h1 {
    color: orange;
}

.flex-item-left .card .col-md-4 img {
    width: 200px;
    height: 200px;
}

.flex-item-left .img-overlay, .flex-item-left .img-overlay img {
    height: 380px;
}

.flex-item-left .img-overlay .card-img-overlay {
    background: rgba(0, 0, 0, 0.356);
    color: white;
    width: 97%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 14px;
}

.flex-item-left .img-overlay .card-img-overlay .card-title, .flex-item-left .img-overlay .card-img-overlay .card-text {
    width: 70%;
    position: relative;
    top: 200px;
}

@media (max-width: 768px) {
    .flex-item-left .card {
        width: 100%;
    }
    .flex-item-left .card .col-md-4 img {
        width: 140px;
        height: 90px;
    }
    .flex-item-left .card .card-body {
        width: 70%;
        margin-bottom: -115px;
        position: relative;
        top: -108px;
        left: 140px;
    }
    .flex-item-left .card .card-body .card-text {
        display: none;
    }
    .flex-item-left .img-overlay .card-img-overlay .card-title {
        position: relative;
        font-size: x-large;
    }
    .flex-item-left .img-overlay .card-img-overlay {
        width: 95%;
    }
}

@media (min-width: 1400px) {
    .flex-item-left .card .card-body {
        position: relative;
        left: -80px;
    }
}

@media (min-width: 315px) and (max-width: 450px) {
    .flex-item-left .card .col-md-4 img {
        width: 110px;
        height: 80px;
    }
    .flex-item-left .card .card-body {
        width: 240px;
        position: relative;
        top: -93px;
        left: 110px;
        border: 1px solid blueviolet;
    }
    .flex-item-left .card .card-body .card-title {
        font-size: large;
    }
}

@media (min-width: 320px) and (max-width: 426px) {
    .flex-item-left .img-overlay .card-img-overlay {
        width: 93%;
    }
}

@media (min-width: 427px) and (max-width: 498px) {
    .flex-item-left .img-overlay .card-img-overlay {
        width: 94%;
    }
}

@media (min-width: 502px) and (max-width: 768px) {
    .flex-item-left .img-overlay .card-img-overlay {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .flex-item-left .img-overlay .card-img-overlay {
        width: 96%;
    }
}

@media (min-width: 1051px) and (max-width: 1200px) {
    .flex-item-left .img-overlay .card-img-overlay {
        width: 96%;
    }
}

@media (min-width: 992px) and (max-width: 1398px) {
    .flex-item-left .img-overlay .card-img-overlay .card-title, .flex-item-left .img-overlay .card-img-overlay .card-text {
        position: relative;
        top: 150px;
    }
}